*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --brown: #722800;
  --gold: rgb(248, 192, 45);
  --bright-gold: rgb(255,	230,	51);
  --teal: rgb(57, 160, 207);
  --dark-blue: rgb(15, 48, 80);
  --content-padding: 0 3em;
  --content-padding-mobile: 0 1.5em;
  --alt-button-color: rgb(66, 158, 202);
}

::placeholder {
  color: gray;
}

body {
  background-color: var(--dark-blue);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Bitter', serif;
  overflow-x: hidden;
}

h2 {
  color: var(--gold);
}

a.active {
  color: white;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

main {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
}

main > * {
  padding-top: 1em;
  padding-bottom: 1em;
}

footer {
  padding: 1em 2em;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--teal);
}

footer.loggedOut {
  padding: 1em 0 0;
  width: 768px;
  margin: 0 auto;
  max-width: 100%;
}

footer a {
  font-size: .8em;
  text-decoration: none;
  padding-left: 1.5em;
  color: currentColor;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.App-header {
  display: flex;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes upAndDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(.75em);
  }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo {
  max-width: 100%;
  width: 450px;
}

.logo.vertical {
  max-width: 220px;
}

.a11yText {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 0;
  overflow: hidden;
}

button {
  cursor: pointer;
}

.button {
  background-color: var(--gold);
  color: var(--dark-blue);
  padding: 0.6em 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-top: 0.7em;
  font-size: 1.15em;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  border: none;
  line-height: 1;
}

a.button {
  padding-bottom: 0.5em;
}

.button.alt-color {
  background-color: var(--alt-button-color);
}

.button.full-width {
  display: block;
  width: 100%;
}

.fullWidth {
  width: 100%;
}

.button.primary {
  background: linear-gradient(
    -35deg, var(--gold),
    var(--gold) 30%, var(--gold) 30%,
    var(--bright-gold) 30%, var(--bright-gold) 33%,
    var(--gold) 33%, var(--gold) 35%,
    var(--bright-gold) 35%, var(--bright-gold) 65%,
    var(--gold) 65%, var(--gold) 67%,
    var(--bright-gold) 67%, var(--bright-gold) 70%,
    var(--gold) 70%
  );
  border: none;
  width: auto;
  max-width: 280px;
  margin: 0 auto;
  white-space: nowrap;
}

.bottom-margin {
  margin-bottom: 1em;
}

.inlineErrorList li:not(:only-child) {
  margin-bottom: .8em;
}

.inlineErrorList li:last-child {
  margin-bottom: 0;
}

.fightList {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  width: 100vw;
  flex-grow: 1;
}

.fightList li:first-of-type .link {
  margin-top: 0;
}

.fightList .text {
  color: #333;
}

.fightList .link {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 7px 0;
}

.fightList .button img {
  margin-right: .5em;
}

.fightList .title {
  flex: 1;
  font-size: .8em;
  color: white;
}

.fightList .created {
  margin-bottom: 0.25em;
}

.fightList li {
  text-align: left;
  width: 100%;
  border-bottom: 1px solid rgba(57, 160, 207, .5);
  padding: 0 1.5em;
}

.fightList .categoriesImg {
  max-width: 60px;
}

.fightList span {
  display: inline-block;
}

.fightList li.noResults {
  color: white;
  padding-top: .5em;
}

.noResults p {
  margin-top: 0;
}

.inlineLink {
  color: white;
  margin-left: 5px;
}

.center {
  text-align: center !important;
}

.whiteText {
  color: white;
}

.semiTransparent {
  background-color: rgba(255, 255, 255, .8);
}

.contentPadding {
  padding: var(--content-padding);
}

.removeDefaultButtonStyles {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .contentPadding {
    padding: var(--content-padding-mobile);
  }

  .logo.vertical {
    max-width: 130px;
  }
}
