*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --brown: #722800;
  --gold: rgb(248, 192, 45);
  --red: rgb(231, 77, 103);
  --bright-gold: rgb(255,	230,	51);
  --teal: rgb(57, 160, 207);
  --light-teal: rgb(172,	223,	238);
  --bright-teal: rgb(102, 193, 224);
  --dark-blue: rgb(15, 48, 80);
  --content-padding: 0 3em;
  --content-padding-mobile: 0 1.5em;
  --alt-button-color: rgb(66, 158, 202);
  --dark-text: rgb(37, 73, 101);
  --header-teal: rgb(203, 235, 245);
  --button-max-width: 250px;
}

::placeholder {
  color: gray;
  font-family: 'Glegoo', serif;
}

#mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  transform: scale(0, 0);
  transition: transform, opacity .3s ease-in-out;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: var(--red);
  color: white;
}

#mobileMenu button {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.3s transform;
  outline: none;
}

#mobileMenu button > * {
  pointer-events: none;
}

#mobileMenu button:hover,
#mobileMenu button:focus {
  transform: scale(1.1, 1.1);
}

#mobileMenu svg {
  fill: white;
  max-width: 100%;
  max-height: 100%;
}

#mobileMenu .logout {
  color: white;
  font-size: 1.5em;
}

.loggedOut .mobileToggle {
  display: none;
}

.showMobileMenu #mobileMenu {
  transform: scale(1, 1);
  opacity: 1 !important;
}

body {
  background-color: var(--dark-blue);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Glegoo', serif;
  overflow-x: hidden;
}

h2 {
  color: var(--dark-blue);
}

a.active {
  color: white;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

main {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  justify-content: center;
}

main > * {
  padding-top: 1em;
  padding-bottom: 1em;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.App-header {
  display: flex;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes upAndDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(.75em);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.headerTop .logo {
  width: 350px;
  max-width: 350px;
  max-height: 63px;
}

.logo.vertical {
  max-width: 220px;
}

.a11yText {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 0;
  overflow: hidden;
}

button {
  cursor: pointer;
}

.button {
  font-family: 'Glegoo', serif;
  background-color: var(--gold);
  color: var(--dark-blue);
  padding: 0.8em 1.4em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.7em;
  font-size: 1.15em;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  border: none;
  line-height: 1;
}

.button.disabled {
  user-select: none !important;
  pointer-events: none !important;
  cursor: not-allowed !important;
}

.button.alt-color {
  background-color: var(--alt-button-color);
}

.button.full-width {
  display: block;
  width: 100%;
}

.button.maxWidth {
  max-width: var(--button-max-width) !important;
}

.fullWidth {
  width: 100%;
}

.button.primary {
  background: linear-gradient(
    -35deg, var(--gold),
    var(--gold) 30%, var(--gold) 30%,
    var(--bright-gold) 30%, var(--bright-gold) 33%,
    var(--gold) 33%, var(--gold) 35%,
    var(--bright-gold) 35%, var(--bright-gold) 65%,
    var(--gold) 65%, var(--gold) 67%,
    var(--bright-gold) 67%, var(--bright-gold) 70%,
    var(--gold) 70%
  );
  border: none;
  width: auto;
  max-width: var(--button-max-width);
  margin: 0 auto;
  white-space: nowrap;
}

.button.primary.alt {
  background: linear-gradient(
    -35deg, var(--teal),
    var(--teal) 30%, var(--teal) 30%,
    var(--bright-teal) 30%, var(--bright-teal) 33%,
    var(--teal) 33%, var(--teal) 35%,
    var(--bright-teal) 35%, var(--bright-teal) 65%,
    var(--teal) 65%, var(--teal) 67%,
    var(--bright-teal) 67%, var(--bright-teal) 70%,
    var(--teal) 70%
  );
}

.bottom-margin {
  margin-bottom: 1em;
}

.inlineErrorList {
  background: rgba(255, 255, 255, 0.9);
  padding: 1em;
  border: 2px solid var(--gold);
}

.inlineErrorList li:not(:only-child) {
  margin-bottom: .8em;
}

.inlineErrorList li:last-child {
  margin-bottom: 0;
}

.fightList {
  margin: 0 auto;
  padding: 0;
  max-width: 1070px;
  width: calc(100% - 200px);
  flex-grow: 1;
  border-collapse: collapse;
  table-layout: auto;
  text-align: left;
}

.fightList .text {
  color: #333;
}

.fightList .link {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0 10px 0 0;
  margin: 0;
  position: relative;
}

.fightList tbody .challengerRow {
  position: relative;
  padding-right: 20px;
}

.fightList tbody tr {
  border-top: 1px solid var(--light-teal);
}

.fightList tbody tr:last-child {
  border-bottom: 1px solid var(--light-teal);
}

.fightList tbody td {
  padding: 10px 0;
}

.fightList th {
  color: var(--teal);
  font-size: 0.82em;
  padding: 1em 0 1.5em;
  text-align: left;
}

.fightList tbody td:last-child,
.fightList th:last-child {
  text-align: right;
  padding-left: 10px;
}

.fightList tbody .avatar,
.fightList tbody .part,
.fightList tbody .part > a {
  display: flex;
}

.fightList tbody .part,
.fightList tbody .part > a {
  align-items: center;
}

.fightList tbody .part:first-child,
.fightList tbody .part > a:first-child {
  padding-right: 20px;
}

.challengerRow .part:last-child {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.fightList tbody .avatar {
  margin-right: 10px;
}

.fightList tbody .username,
.fightList tbody time {
  color: var(--teal);
  font-weight: bold;
}

.fightList tbody time.expiresSoon {
  color: var(--red);
}

.fightList tbody .versus {
  height: 35px;
  width: 35px;
}

.fightList .button img {
  position: absolute;
  left: -72px;
}

.fightList .title {
  flex: 1;
  font-size: .8em;
  color: var(--dark-blue);
  font-weight: 600;
  line-height: 1.5;
  min-width: 150px;
}

.fightList .created {
  margin-bottom: 0.25em;
}

.fightList li {
  text-align: left;
  width: 100%;
  border-bottom: 1px solid rgba(57, 160, 207, .5);
  padding: 0 1.5em;
}

.fightList li:first-child {
  border-bottom: none;
}

.fightList .categoriesImg {
  max-width: 60px;
}

.fightList span {
  display: inline-block;
}

.fightList li.noResults {
  padding-top: .5em;
}

.noResults p {
  margin-top: 0;
}

.inlineLink {
  margin-left: 5px;
}

.center {
  text-align: center !important;
}

.whiteText {
  color: white;
}

.semiTransparent {
  background-color: rgba(255, 255, 255, .8);
}

.contentPadding {
  padding: var(--content-padding);
}

.removeDefaultButtonStyles {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.offScreen,
.screenReaderText {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ellipsize {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

@media screen and (max-width: 900px) {
  .fightList .categoriesImg {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .fightList {
    max-width: calc(100% - 80px);
  }
  .paginationContainer .fightList thead th:nth-child(2),
  .paginationContainer .fightList thead th:nth-child(3),
  .paginationContainer .fightList tbody td:nth-child(2),
  .paginationContainer .fightList tbody td:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .contentPadding {
    padding: var(--content-padding-mobile);
  }

  .logo.vertical {
    max-width: 130px;
  }

  .fightList {
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 768px) {
  .headerTop .logo {
    width: 60px;
    max-width: 60px;
    max-height: 38px;
  }
}