.bottomMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}

.bottomMenu * {
  color: var(--teal);
}

.bottomMenu li {
  margin: 0 1em;
  width: 20%;
}

.bottomMenuContainer {
  width: 100%;
}

.bottomMenu .nav-link {
  padding: 0;
}

.bottomMenu .icon {
  height: 35px;
  max-width: 100%;
}

.bottomMenu .nav-link span {
  display: block;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
  transition: 0.5s color;
  white-space: nowrap;
}

.bottomMenu .nav-link.active span,
.bottomMenu .nav-link:focus span,
.bottomMenu .nav-link:hover span {
  color: white;
}

.bottomMenu .iconDivider {
  width: 120px;
}

@media screen and (max-width: 600px) {
  .bottomMenu .icon {
    height: 30px;
  }

  .bottomMenu .iconDivider {
    width: 90px;
  }

  .bottomMenu li {
    margin: 0 0.7em;
  }
}

@media screen and (max-width: 400px) {
  .bottomMenu .divider {
    display: none;
  }

  .bottomMenu li {
    width: 25%;
  }
}
