.bottomMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-end;
}

.bottomMenu * {
  color: var(--teal);
}

.bottomMenu li {
  margin: 0 1em;
  flex: 1;
}

.bottomMenuContainer {
  width: 100%;
}

.bottomMenu .nav-link {
  padding: 0;
}

.bottomMenu .icon {
  height: 35px;
}

.bottomMenu .nav-link span {
  display: block;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
  transition: 0.5s color;
  white-space: nowrap;
}

.bottomMenu .nav-link.active span {
  color: white;
}

.bottomMenu .nav-link:focus span,
.bottomMenu .nav-link:hover span {
  color: white;
}

.bottomMenu .iconDivider {
  width: 120px;
}

@media screen and (max-width: 650px) {
  .bottomMenu .divider {
    width: 0;
    flex: none;
    margin: 0;
  }

  .bottomMenu .iconDivider {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .bottomMenu li {
    width: 50%;
    flex: none;
    margin: 1em 0;
  }

  .bottomMenu .icon {
    height: 40px;
  }
}
