.categories span {
  color: white;
  text-transform: uppercase;
}

.categories li {
  padding: 2em 0;
}

.categoriesImg {
  width: 150px;
  max-width: 100%;
}

.categories button {
  border: none;
  background-color: transparent;
  transition: 0.2s transform, 0.2s opacity;
}

.categories button:hover,
.categories button.active {
  opacity: 1 !important;
  transform: scale(1.1, 1.1);
}

.categories button.inactive {
  opacity: .5;
}

.categories .firstWord {
  color: var(--gold);
  display: block;
}

.threeByThree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.threeByThree > * {
  width: calc(100% / 3);
}

@media screen and (max-width: 600px) {
  .threeByThree li {
    padding: 1em;
  }
}

@media screen and (max-width: 450px) {
  .threeByThree li {
    width: calc(100% / 2);
  }
}
