.categories {
  align-items: center;
  display: grid;
}

.categories.listPage.mobile {
  display: none;
}

.categories.listPage a {
  display: block;
}

.categories.listPage .categoriesListitem {
  border-bottom: 2px solid transparent;
}

.categories.listPage .categoriesListitem.active {
  border-bottom: 2px solid var(--red);
}

.categories.listPage {
  grid-template-columns: repeat(5, [col] auto);
  padding: 3.5em 6.5em 0;
}

.categories.listPage img {
  pointer-events: none;
}

.categories.listPage + .results {
  flex-grow: 1;
}

.categories.stepsPage li:nth-last-child(3) {
  grid-column: col 1 / span 2;
  justify-self: center;
}

.categories.stepsPage {
  grid-template-columns: repeat(2, [col] auto);
  grid-template-rows: repeat(3, [row] auto);
}


.categories span {
  text-transform: uppercase;
  font-size: 1rem;
}

.categoriesImg {
  width: 200px;
  max-width: 100%;
}

.stepContainer .categories button {
  border: none;
  background-color: transparent;
  transition: 0.2s transform, 0.2s opacity;
  font-size: 0.75em;
}

.categories button:hover,
.categories button.active {
  opacity: 1 !important;
  transform: scale(1.1, 1.1);
}

.categories button.active,
.categories button:active {
  outline: none;
}

.categories button.inactive {
  opacity: .5;
}

.categories .firstWord {
  display: block;
}

@media screen and (max-width: 768px) {
  .categoriesImg {
    height: 24vh;
  }

  .categories.listPage:not(.mobile),
  .categories.listPage + .results {
    display: none;
  }

  .categories.listPage.mobile {
    display: grid;
    grid-template-columns: repeat(2, [col] auto);
    grid-template-rows: repeat(3, [row] auto);
    padding: 0;
  }

  .categories.listPage.mobile li:nth-last-child(3) {
    grid-column: col 1 / span 2;
    justify-self: center;
  }
}