.slots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.slots > * {
  flex: 1;
}

.slots .them {
  align-self: flex-start;
}

.slots .versus {
  margin: 0 1.3em;
  max-width: 60px;
  height: 100%;
}

.avatar .username {
  color: white;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
}

.characterCount {
  color: white;
  font-family: Bitter, serif;
}

.lookupResult {
  color: white;
  padding-top: 5px;
}
