.stepsForm {
  display: block;
  width: 100vw;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.stepsContainer {
  overflow: hidden;
  display: flex;
  width: 300vw;
  flex-flow: row wrap;
  transform: translateX(0);
  transition: 0.3s transform;
}

.stepContainer {
  width: 100vw;
  max-width: 100vw;
  margin: 0 auto;
  flex: 1;
  transition: .3s opacity;
}

.stepContainer .inner {
  max-width: 500px;
  margin: 0 auto;
}

.previousButtonWrap {
  position: absolute;
  top: -1em;
  left: 0;
}

.previousButtonWrap button,
.stepContainer button {
  font-size: 1em;
}

.previousButtonWrap button {
  border-radius: 0 8px 8px 0;
  margin: 45px auto 0;
  color: white;
}

.activeStep-1 {
  transform: translateX(0);
}

.activeStep-2 {
  transform: translateX(-100vw);
}

.activeStep-3 {
  transform: translateX(-200vw);
}

.activeStep-1 .stepContainer:nth-child(2),
.activeStep-1 .stepContainer:nth-child(3) {
  height: 0;
  opacity: 0;
}

.activeStep-2 .stepContainer:nth-child(1),
.activeStep-2 .stepContainer:nth-child(3) {
  height: 0;
  opacity: 0;
}

.activeStep-3 .stepContainer:nth-child(1),
.activeStep-3 .stepContainer:nth-child(2) {
  height: 0;
  opacity: 0;
}

.slots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  max-width: 100%;
  margin: 2em auto;
}

.slots > * {
  flex: 1;
}

.slots .them {
  align-self: flex-start;
}

.slots .username {
  color: white;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  bottom: -1.5em;
}

.characterCount {
  color: white;
  font-family: 'Glegoo', serif;
}

.lookupResult {
  padding: 7px 12px;
}

.countdownContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.countdownContainer textarea {
  flex-grow: 1;
  width: 100%;
  min-height: 200px;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  resize: none;
}

.charsRemaining {
  background-color: white;
  flex-grow: 0;
  font-size: 0.9em;
  padding: 7.5px 10px;
  display: inline-block;
  width: 100%;
  text-align: right;
  border-top: 1px solid var(--gold);
  color: black;
  line-height: 1;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.charsRemaining.error {
  color: red;
}

.fieldWrap {
  margin: 2em 2em 0;
  position: relative;
}

@media screen and (max-width: 500px) {
  .previousButtonWrap {
    position: relative;
  }

  .previousButtonWrap button {
    border-radius: 8px;
  }
}
