.stepsContainer {
  overflow: hidden;
  display: flex;
  width: 300vw;
  flex-flow: row wrap;
  transform: translateX(0);
  transition: 0.3s transform;
}

.stepContainer {
  width: 100vw;
  max-width: 100vw;
  margin: 0 auto;
  flex: 1;
}

.stepContainer .inner {
  max-width: 500px;
  margin: 0 auto;
}

.previousButtonWrap {
  position: absolute;
  top: -1em;
  left: 0;
}

.previousButtonWrap button,
.stepContainer button {
  font-size: 1em;
}

.previousButtonWrap button {
  border-radius: 0 8px 8px 0;
  margin: 45px auto 0px;
}

.activeStep-1 {
  transform: translateX(0);
}

.activeStep-2 {
  transform: translateX(-100vw);
}

.activeStep-3 {
  transform: translateX(-200vw);
}

.activeStep-1 .stepContainer:nth-child(2),
.activeStep-1 .stepContainer:nth-child(3) {
  height: 0;
}

.activeStep-2 .stepContainer:nth-child(1),
.activeStep-2 .stepContainer:nth-child(3) {
  height: 0;
}

.activeStep-3 .stepContainer:nth-child(1),
.activeStep-3 .stepContainer:nth-child(2) {
  height: 0;
}

.slots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  max-width: 100%;
  margin: 2em auto;
}

.slots > * {
  flex: 1;
}

.slots .them {
  align-self: flex-start;
}

.slots .versus {
  margin: 0 1.3em;
  max-width: 60px;
  height: 100%;
}

.slots .avatar {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.slots .username {
  color: white;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  bottom: -1.5em;
}

.characterCount {
  color: white;
  font-family: Bitter, serif;
}

.lookupResult {
  color: white;
  padding: 7px 12px;
}

input.featured {
  width: calc(100% - 1.5em);
  padding: 1.1em 1.3em;
  font-size: 1em;
}

@media screen and (max-width: 500px) {
  .previousButtonWrap {
    position: relative;
  }

  .previousButtonWrap button {
    border-radius: 8px;
  }
}
