@keyframes tiltAx {
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

.fightMeter {
  height: 2em;  /* Can be anything */
	position: relative;
	background: #555;
  background-color: rgb(229, 49, 93);
  border: 2px solid white;
}

.fightMeter > span {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--gold);
  transition: width .4s ease-in-out;
}

.fightTally {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.fightTally .user1 .fightMeter {
  display: flex;
  flex-direction: row-reverse;
}

.fightBody {
  display: flex;
  justify-content: space-between;
}

.fightTimeRemaining span {
  text-transform: uppercase;
}

.fightBody .button.primary {
  max-width: 100%;
  width: 100%;
}

.fightBody .user1,
.fightBody .user2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 50%;
}

.fightBody .fightTimeRemaining {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-self: baseline;
  padding: 30px 30px 0;
}

.fightBody .fightTimeRemaining time {
  color: var(--red);
  font-size: 37px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 7px;
}

.fightBody .fightTimeRemaining span {
  color: var(--teal);
  line-height: 1;
  font-size: 12px;
  white-space: nowrap;
  font-weight: bold;
}

.fightBody h3 {
  color: var(--teal);
  font-size: 1.4rem;
  margin: 0 0 20px;
}

.fightBody .user1 h3 {
  align-self: flex-start;
}

.fightBody .user2 h3 {
  align-self: flex-end;
}

.fightTally .user1,
.fightTally .user2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.fightTally .versus {
  flex-grow: 0;
  max-height: 5em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 1em;
  z-index: 1;
}

.fightContainer {
  margin: 0 auto;
  max-width: 800px;
  padding-top: 30px;
  position: relative;
}

.fightContainerHeader {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  padding: 0;
}

.fightContainerHeader .avatar {
  position: relative;
}

.fightContainerHeader svg {
  fill: rgb(68, 159, 203);
  position: absolute;
  width: 30px;
  height: 30px;
  display: inline-block;
  bottom: 15px;
}

.defender-shield-icon {
  left: -30px;
}

.hatchetTitle {
  font-size: 1.7em;
  color: var(--teal);
  flex-grow: 1;
  align-self: flex-start;
  margin: 0 0 25px;
  padding: 5px 1em;
  line-height: 1.2;
}

.fight-arguments {
  display: flex;
}

.fight-arguments > * {
  flex: 1;
}

.fightText {
  margin: 0;
  line-height: 1.5;
  color: var(--dark-text);
  text-align: left;
  font-weight: bold;
  padding: 0 0 10px;
}

.blurred {
  filter: blur(3px);
}

.totalVotes {
  position: relative;
  background-color: var(--brown);
  color: var(--gold);
  padding: 0.75em 1.25em;
  display: inline-block;
  margin: 1em auto .75em;
  text-shadow: 0 1px 0 white;
}

.totalVotes .tilted-ax {
  position: absolute;
  height: 3em;
  width: 3em;
  top: 0;
  right: -35px;
  transform: rotate(90deg);
  opacity: 0;
  animation: 0.5s ease-in tiltAx forwards 0.2s;
}

@media screen and (max-width: 800px) {
  .featured-fights-container {
    flex-direction: column;
    max-width: 600px;
  }

  .featured-fights-container > * {
    padding-left: 0;
    padding-right: 0;
    padding: 3em 0;
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .fightContainerHeader {
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
  }

  .fightContainerHeader .avatar:first-of-type {
    padding-right: 2em;
  }

  .fightContainerHeader .avatar:last-of-type {
    padding-left: 2em;
  }

  .fightContainerHeader .avatar > div {
    width: 70px !important;
    height: 70px !important;
  }

  .fightContainerHeader .challenger-hatchet-icon,
  .fightContainerHeader .defender-shield-icon {
    position: absolute;
  }

  .fightContainerHeader .challenger-hatchet-icon {
    left: -30px;
    bottom: 8px;
  }

  .fightContainerHeader .defender-shield-icon {
    right: -30px;
    left: inherit;
    bottom: 8px;
  }

  .fightContainerHeader .hatchetTitle {
    order: 2;
    padding: 3.5em 0 0;
    margin-bottom: 0;
    width: 100%;
  }

  .fightBody .fightTimeRemaining {
    order: -1;
    align-self: center;
    padding: 30px 0 10px;
  }

  .fightBody .user2 h3 {
    align-self: flex-start;
  }

  .fightBody {
    flex-direction: column;
  }

  .fightBody .user1, .fightBody .user2 {
    padding-bottom: 30px;
  }

  .fightTally {
    transform: translateX(-50%) scale(0.9, 0.9);
    position: absolute;
    width: 100%;
    left: 50%;
    top: 115px;
  }
}
