@keyframes tiltAx {
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

.fightMeter {
  height: 2em;  /* Can be anything */
	position: relative;
	background: #555;
  background-color: rgb(229, 49, 93);
  border: 2px solid white;
}

.fightMeter > span {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--gold);
  transition: width .4s ease-in-out;
}

.fightTally {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.fightTally .user1 .fightMeter {
  display: flex;
  flex-direction: row-reverse;
}

.fightBody {
  display: flex;
  justify-content: space-between;
}

.fightTimeRemaining span {
  text-transform: uppercase;
}

.fightBody .button.primary {
  max-width: 100%;
  width: 100%;
}

.fightBody .user1,
.fightBody .user2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 50%;
}

.fightBody .fightTimeRemaining {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-self: baseline;
  padding: 25px 30px 0;
}

.fightBody .fightTimeRemaining time {
  color: white;
  font-size: 38px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 5px;
}

.fightBody .fightTimeRemaining span {
  color: var(--teal);
  line-height: 1;
  font-size: 12px;
  white-space: nowrap;
}

.fightBody h3 {
  color: var(--gold);
  margin: 0;
}

.fightBody .user1 h3 {
  align-self: flex-start;
}

.fightBody .user2 h3 {
  align-self: flex-end;
}

.fightTally .user1,
.fightTally .user2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.fightTally .versus {
  flex-grow: 0;
  max-height: 5em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 1em;
  z-index: 1;
}

.fightContainer {
  margin: 0 auto;
  max-width: 800px;
  padding-top: 30px;
}

.fightContainerHeader {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  padding: 0 0 7px;

}

.hatchetTitle {
  font-size: 1.6em;
  color: white;
  flex-grow: 1;
  align-self: flex-start;
  margin: 0 0 25px;
  padding: 5px 1em;
  line-height: 1.2;
}

.fight-arguments {
  display: flex;
}

.fight-arguments > * {
  flex: 1;
}

.fightText {
  margin: 0;
  line-height: 1.5;
  padding: 22px 0 12px;
  color: white;
  text-align: left;
}

.blurred {
  filter: blur(3px);
}

.totalVotes {
  position: relative;
  background-color: var(--brown);
  color: var(--gold);
  padding: 0.75em 1.25em;
  display: inline-block;
  margin: 1em auto .75em;
  text-shadow: 0 1px 0 white;
}

.totalVotes .tilted-ax {
  position: absolute;
  height: 3em;
  width: 3em;
  top: 0;
  right: -35px;
  transform: rotate(90deg);
  opacity: 0;
  animation: 0.5s ease-in tiltAx forwards 0.2s;
}

@media screen and (max-width: 800px) {
  .featured-fights-container {
    flex-direction: column;
    max-width: 600px;
  }

  .featured-fights-container > * {
    padding-left: 0;
    padding-right: 0;
    padding: 3em 0;
    align-self: center;
  }
}
