form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color:white;
  padding: 3em;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.33) 7px 7px 40px 0;
}

label {
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Bitter', serif;
  color: var(--brown);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.5em;
  margin: 1.5em 0 .5em;
}

.styled-select {
  background: url(/forms/select-arrow.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
  max-width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 268px;
}

.styled-select.slate {
  height: 34px;
  width: 240px;
  margin: 0 auto 1em;
}

.styled-select.slate select {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 268px;
}

input, textarea {
  padding: .7em .9em;
  font-size: .9em;
  margin-bottom: .5em;
  flex: 1;
}

::placeholder {
  color: black;
  font-size: 1em;
}

[disabled] {
  opacity: .5;
}

:invalid {
  box-shadow: none;
}

.required {
  padding-left: 10px;
  color: red;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  top: 5px;
  flex: 0;
}

.required-field-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

button.link-style {
  appearance: none;
  background: none;
  border: none;
  font-family: 'Bitter';
  font-size: 16px;
  color: blue;
  text-align: center;
  margin: 1em auto 0;
  font-weight: normal;
  cursor: pointer;
}

.form-link {
  color: blue;
  text-decoration: none;
  display: block;
}

.form-link:first-of-type {
  margin-bottom: 1em;
}

[role='info'] {
  color: gray;
  font-style: italic;
  width: 100%;
  text-align: left;
  padding-top: 2px;
  font-size: 90%;
}
