form {
  width: 430px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1em 3em;
}

textarea,
input {
  font-family: 'Glegoo', serif;
}

label {
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Glegoo', serif;
  color: var(--gold);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.5em;
  margin: 1.5em 0 .5em;
}

.styled-select {
  background: url(/forms/select-arrow.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
  max-width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 268px;
}

.styled-select.slate {
  height: 34px;
  width: 240px;
  margin: 0 auto 1em;
}

.styled-select.slate select {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 268px;
}

input, textarea {
  padding: 0.6em 0.8em;
  font-size: .9em;
  margin-bottom: 0;
  flex: 1;
  border: none;
}

input[type=text],
input[type=email],
input[type=password] {
  transition: 0.3s border;
  border: 1px solid rgba(57, 160, 207, .1);
}

input:focus,
textarea:focus {
  outline: none;
}

input:focus {
  border-left: 6px solid var(--teal) !important;
}

textarea {
  font-size: 15px;
  border: 1px solid rgba(57, 160, 207, .1);
}

[disabled] {
  opacity: .5;
}

:invalid {
  box-shadow: none;
}

.required {
  padding-left: 10px;
  color: red;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  top: 5px;
  flex: 0;
}

.required-field-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

button.link-style {
  appearance: none;
  background: none;
  border: none;
  font-family: 'Glegoo';
  font-size: 16px;
  color: blue;
  text-align: center;
  margin: 1em auto 0;
  font-weight: normal;
  cursor: pointer;
}

.form-link {
  color: white;
  text-decoration: none;
  display: block;
}

.form-link:first-of-type {
  margin-bottom: 1em;
}

[role=note] {
  display: block;
  text-align-last: left;
  font-style: italic;
  width: 100%;
  text-align: left;
  font-size: 90%;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s;
  transform: translateY(0);
}

input:focus + [role=note] {
  transform: translateY(5px);
  opacity: 1;
  max-height: 5em;
}

input.featured {
  width: calc(100% - 1.5em);
  padding: .75em 1em;
  font-size: 1em;
  border: 1px solid var(--teal);
}

.joinTerms {
  font-size: 70%;
  padding: 1em 0;
}

#email,
#password,
#username {
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 10%;
  padding-right: 34px;
  border: 1px solid rgba(57, 160, 207, .1);
}

#email {
  background-image: url('/svg/icon-signup-email.svg');
}

#password {
  background-image: url('/svg/icon-signup-password.svg');
}

#username {
  background-image: url('/svg/icon-signup-user.svg');
}

@media screen and (max-width: 800px) {
  form {
    padding-left: 2em;
    padding-right: 2em;
  }

  input.featured {
    padding: .9em 1.1em;
  }
}
