.threeByThree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.threeByThree > * {
  width: calc(100% / 3);
}

.twoByTwo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.twoByTwo > * {
  width: 50%;
  padding: 0 1em;
}

@media screen and (max-width: 850px) {
  .twoByTwo > * {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .threeByThree li {
    padding: 1em;
  }
}

@media screen and (max-width: 450px) {
  .threeByThree li {
    width: calc(100% / 2);
  }
}
