header {
  display: flex;
  background-color: var(--teal);
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 a {
  font-size: 1em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
}

header a {
  color: white;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 50px;
}

.loggedOut .headerTop {
  padding-top: 10px;
  padding-bottom: 10px;
}

.headerTop .button.primary {
  font-size: 1em;
  padding: .6em 1em;
}

.headerTop h1 {
  font-size: 0;
  margin: 0 auto 0 0;
}

.headerActions {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: flex-end;
}

.headerActions svg {
  max-height: 100%;
  max-width: 100%;
  fill: white;
}

.headerActions [class^="link-"] {
  height: 50px;
  display: flex;
}

.headerActions .link-search-icon {
  width: 50px;
}

.headerActions li {
  margin-right: 1em;
}

.headerActions li:last-child {
  margin-right: 0;
}

.headerActions .link-challenger-hatchet-icon {
  width: 30px;
}

.headerActions .link-notification-icon {
  width: 50px;
}

@media screen and (max-width: 500px) {
  .headerTop {
    padding-left: 20px;
    padding-right: 20px;
  }
}