header {
  display: flex;
  background-color: var(--brown);
  padding: 1em 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
}

header h1 a {
  font-size: 0.8em;
}

header a {
  color: white;
}

nav[role='main'] ul {
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 1em .5em;
  text-decoration: none;

}
.nav-link.avatar {
  display: inline-flex;
  align-items: center;
}

.nav-link.avatar svg {
  width: 1.4em;
  height: 1.4em;
  fill: white;
  margin-right: 0.5em;
}
