header {
  display: flex;
  background-color: var(--teal);
  padding: 1em 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5em;
}

header h1 a {
  font-size: 1em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
}

header a {
  color: white;
}

.nav-link {
  padding: 1em .5em;
  text-decoration: none;

}
.nav-link.avatar {
  display: inline-flex;
  align-items: center;
}

.nav-link.avatar svg {
  width: 1.6em;
  height: 1.6em;
  fill: white;
  margin-right: 0.4em;
}
