.fightlist {
  max-width: 600px;
  margin: 0 auto;
}

.fightlist .meta {
  margin-bottom: 0.5em;
}

.fightlist .meta > span {
  display: block;
  color: black;
  padding: 0.5em 0 1em;
}

.fightlist .text {
  font-size: 1.3em;
  font-style: italic;
  max-height: 13em;
  overflow: auto;
}

.fightlist .button {
  font-size: 1em;
}

.fightlist li {
  margin-bottom: 2em;
  line-height: 1.7;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em 1.75em;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}

.system-message {
  background-color: var(--teal);
  padding: 1em;
  width: 50%;
  margin: 0.5em auto 0;
  border-radius: 4px;
  color: white;
}

.system-tip {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.3em;
  display: inline-block;
  fill: currentColor;
}

.profileH1 {
  text-shadow: 0 1px 1px white;
  font-size: 2.7em;
  margin-top: 0;
  color: var(--gold);
}

.profileH2 {
  text-shadow: 1px 1px rgba(0, 0, 0, 1);
  color: white;
}
