.watchingEye {
  color: white;
  width: 2.5em;
  height: 2.5em;
  display: block;
  margin-left: auto !important;
  position: relative;
  top: -.5em;
}

.watchingEye > * {
  pointer-events: none;
}

.watchingEye svg {
  transition: 0.5s fill;
  fill: currentColor;
  width: 100%;
  height: 100%;
}

.watchingEyeText {
  color: var(--teal);
  text-transform: uppercase;
  white-space: nowrap;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 500px) {
  .watchingEye {
    right: 2em;
  }
}
