.swiper-container {
  width: calc(340px + 3em);
  flex: 1.5;
  max-width: calc(100% - 4em);
}

.swiper-slide {
  width: 100% !important;
  padding: 0 3em;
}

.swiper-pagination {
  top: 12em;
}

.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  margin: 0 5px;
}

.swiper-pagination-bullet {
  background-color: var(--dark-blue);
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.sliderNav a:active,
.sliderNav a:focus {
  background-color: white;
}

.sliderNav span {
  position: absolute;
  opacity: 0;
}

.slider {
  width: 300px;
  overflow: hidden;
  text-align: center;
  align-self: center;
  display: flex;
  align-items: center;
  flex: 1.8;
  flex-direction: column;
}

.swiper-container .image {
  max-height: 90px;
}

.swiper-container  .title {
  color: rgba(15, 48, 80, .85);
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.swiper-container .text {
  color: white;
  line-height: 1.5;
  font-size: 0.9em;
}

@media screen and (max-width: 500px) {
  .swiper-container .image {
    max-height: 65px;
  }
}

@media screen and (max-width: 380px) {
  .swiper-container {
    width: 340px;
  }

  .swiper-slide {
    padding: 0;
  }
}
